{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    <link href="{{asset('css/auth/register.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <main>
        <section id="connexion_contents">
            <h1>S'enregistrer</h1>
            <p>Vous avez déja un compte ? <a href="/login">Se connecter</a></p>
        </section>
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name, { 'attr': { 'placeholder': 'Prénom'} }) }}
        {{ form_row(registrationForm.surname, { 'attr': { 'placeholder': 'Nom'} }) }}
        {{ form_row(registrationForm.email, { 'attr': { 'placeholder': 'Adresse email'} }) }}
        {{ form_row(registrationForm.plainPassword, { 'attr': { 'placeholder': 'Mot de passe'} }) }}
        <button type="submit" class="btn">S'enregistrer</button>
        {{ form_end(registrationForm) }}
    </main>
{% endblock %}
